/* Reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilos */

/*variables de colores*/

:root {
  --color-primario: #2563EB;
  --color-fondo-primario: #0B1120;
  --color-fondo-secundario: #111827;
  --color-tarjetas: #172033;
  --color-acento: #06B6D4;
  --color-verde: #22C55E;
  --color-rojo: #EF4444;
  --color-advertencia: #F59E0B;
  --color-texto-principal: #F8FAFC;
  --color-texto-secundario: #94A3B8;
  --color-borde: #26344D;
}

body{
    background-color: var(--color-fondo-primario);
}